body{
    font-family: Roboto;
    font-family: Roboto;
    background: -webkit-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #2BC0E4 10%, #EAECC6 90%); /* W3C */
}

h1{
    background: #1f2f5c;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
    background: #ffffff;
    height: 40px;
    line-height: 40px;
    color: #676;
}

li:nth-child(2n){
    background: #3be888;
}

input{
    font-size: 18px;
    background-color: #d1cfcf;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border-style: none;
}

input:focus{
    background: white;
    border: 3px solid blue;
    outline: none;
}

#container{
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.completed{
    color: #787878;
    text-decoration: line-through;
}

.fa-plus{
    float: right;
}

span{
    background: #000000;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: #f3f3f3;
    width: 0px;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}